@tailwind base;
@tailwind components;
@tailwind utilities;


/* FullCalendar Styles */

/* .fc-theme-standard td, .fc-theme-standard th {
	border-color: transparent !important;
} */

.fc-theme-standard .fc-scrollgrid {
	border-color: transparent !important;
}

.fc .fc-timegrid-col.fc-day-today {
	background-color: transparent !important;
}

.fc-event-main {
	display: flex !important;
}

.fc-scroller-harness {
	overflow: visible !important;
}

/* Flowbite Styles */
[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #007EA7 !important;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	border-color: #007EA7 !important;
}
